table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.today {
  background-color: #4caf50;
  color: white;
}

.empty {
  background-color: #f1f1f1;
}